@import '../../../node_modules/bootstrap/scss/bootstrap-grid';

h2 {
  padding: 30px 0;
}

.h3 {
  padding-bottom: 10px;
}
.history-container {
  padding-bottom: 30px;

  @include media-breakpoint-up(lg) {
    max-height: 100vh;
    overflow: auto;
  }
}

.history-items {
  & + & {
    padding-top:  30px;
  }
}